version: '3.9'
services:
  mentalhealth-app:
    container_name: mhealth_container
    build:
      context: .
      dockerfile: Dockerfile.dev
    restart: always
    ports:
      - 4006:3000
    volumes:
      - type: bind
        source: .
        target: /app
